# Don't use bzlmod yet
common --noenable_bzlmod

# https://github.com/aspect-build/gcc-toolchain/issues/161
build --noincompatible_sandbox_hermetic_tmp

# Prevent python use of ~/.local/lib
build --action_env=PYTHONNOUSERSITE=1
build --test_env=PYTHONNOUSERSITE=1

# C Compiler Options: https://gcc.gnu.org/onlinedocs/gcc/Option-Summary.html

# All Warnings and then some, mark em as errors too
build --copt -Wall
# -Wextra, with a few exceptions
build --copt -Wmemset-transposed-args
build --copt -Wcast-function-type
build --copt -Wclobbered
build --copt -Wempty-body
build --copt -Wenum-conversion
build --copt -Wexpansion-to-defined
build --copt -Wignored-qualifiers
# XXX: zlib
# build --copt -Wimplicit-fallthrough=3
build --copt -Wmaybe-uninitialized
build --copt -Wshift-negative-value
build --copt -Wsign-compare
build --copt -Wstring-compare
build --copt -Wtype-limits
build --copt -Wuninitialized
build --copt -Wunused-but-set-parameter
build --conlyopt -Wabsolute-value
build --conlyopt -Wmissing-parameter-type
build --conlyopt -Wold-style-declaration
build --conlyopt -Woverride-init
build --cxxopt -Wsized-deallocation
build --cxxopt -Wdeprecated-copy
# Unrecognized
# build --copt -Walloc-size
# com_google_protobuf does these:
# build --copt -Wmissing-field-initializers
# build --copt -Wredundant-move
# build --copt -Wunused-parameter

# Warnings are errors
build --copt -Werror

# Colored output
build --copt -fdiagnostics-color=always

# Let's use the latest and greatest we can
build --cxxopt='-std=c++20' --host_cxxopt='-std=c++20'
# NOTE: Can also specify --linkopt

# Only build tests when testing
test --build_tests_only

# View failed test output
test --test_output=errors

# Allow silent builds with --config=quiet
build:quiet --ui_event_filters=-info,-stdout,-stderr
build:quiet --noshow_progress

# Allow user to extend .bazelrc
try-import %workspace%/user.bazelrc

# TODO(https://github.com/michael-christen/toolbox/issues/28): stop interference with rules_rust
# # https://github.com/aspect-build/gcc-toolchain/issues/85
# build --incompatible_enable_cc_toolchain_resolution
# build --action_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1
# # Performance per #85
# build --experimental_reuse_sandbox_directories
# # Have rules_rust use the right hermetic toolchain sysroot, symlink folders
# # into execution directory
# build --@rules_rust//cargo/settings:experimental_symlink_execroot=True
