[flake8]
# https://flake8.pycqa.org/en/latest/user/options.html
# https://flake8.pycqa.org/en/latest/user/error-codes.html
# https://pycodestyle.pycqa.org/en/latest/intro.html#error-codes
# extend-ignore
# exclude
# inline-quotes
exclude =
  *venv*
  .ipynb_checkpoints
