# Update via
# bazel run //:requirements.update && bazel run //:gazelle_python_manifest.update
# Test via
# bazel test //:gazelle_python_manifest.test //:requirements_test
# Upgrade by
# bazel run //:requirements.update -- --upgrade && bazel run //:gazelle_python_manifest.update
beautifulsoup4
grpcio
mypy
protobuf
types-protobuf
# Analyze graphs easily
# https://networkx.org/documentation/stable/index.html
networkx[default]

# largely for development
pytest
black[jupyter]
flake8
isort
ipdb
notebook
# Documentation
sphinx
sphinx-rtd-theme
myst-parser
# - generates links with raw urls, eg) www.example.com
linkify-it-py
# - diagram generation
sphinxcontrib-mermaid
# - python code (parse, not executing)
sphinx-autoapi
# - lots of miscellaneous plugins for sphinx
sphinx-design
sphinx-copybutton
sphinxext-rediraffe
sphinxext-opengraph
sphinx-pyscript
sphinx-tippy
sphinx-togglebutton
# A more modern sphinx theme
furo
