# Update via
# bazel run //:requirements.update && bazel run //:gazelle_python_manifest.update
# Test via
# bazel test //:gazelle_python_manifest.test //:requirements_test
# Upgrade by
# bazel run //:requirements.update -- --upgrade && bazel run //:gazelle_python_manifest.update
beautifulsoup4
grpcio
# largely for development
pytest
black
flake8
isort
ipdb
notebook
