name: Build and Test
run-name: ${{ github.actor }} is building and testing ${{ github.repository }}
on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - master
jobs:
  build_and_test:
    runs-on: ubuntu-22.04
    steps:
      - run: echo "The job was triggered by a ${{ github.event_name }} event, running on ${{ runner.os }}, ${{ github.ref }} @ ${{ github.repository }}."
      - uses: actions/checkout@v4
        with:
          # Enable getting history of git for stats collection
          fetch-depth: 0
          # Minimize clone traffic while still getting history
          # - https://stackoverflow.com/a/75966904
          filter: 'tree:0'
      - run: |
          git fetch origin ${{ github.base_ref }}
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@v1.3.1
        with:
          # this might remove tools that are actually needed,
          # if set to "true" but frees about 6 GB
          tool-cache: false
          # Data on sizes from this run on 2025-04-25:
          # https://github.com/michael-christen/toolbox/actions/runs/14666765877/job/41163363493
          # 8.21 GB
          # Required for rules_android
          android: false
          # 1.6 GB
          dotnet: true
          # 6.2 GB
          haskell: true
          # 4.9 GB
          # But ... It takes about 120s to clean, so setting false
          large-packages: false
          # 2.5 GB
          docker-images: true
          # 4.0 GB
          swap-storage: true
      - uses: ./.github/actions/bazel-setup
        with:
          buildbuddy_api_key: ${{ secrets.BUILDBUDDY_API_KEY }}
      - name: Install Lint Pre-requisites
        run: |
          # Needed for clang-format / llvm_toolchain, otherwise libtinfo.so.5
          # is not found
          sudo apt-get install -y libncurses5
      - name: Lint
        run: |
          ./lint.sh --mode check
      - name: Build
        run: |
          bazel build //...
      - name: Test
        run: |
          bazel test //... --output_groups=-mypy
          # Food for thought:
          # - Should we test in addition / segregate some?
          # - Should we test in different modes (-c opt / -c dbg)?
          # - Should we add instrumentation_filter to .bazelrc to reduce
          # analysis cache thrashing?
          # Could leave the above to buildbuddy ...
      - name: Coverage
        run: |
          bazel coverage //... --combined_report=lcov --instrument_test_targets --instrumentation_filter="^//" --test_tag_filters=-skip-large-tests --output_groups=-mypy
      - name: Setup LCOV
        uses: hrishikesh-kadam/setup-lcov@v1
      - name: Coverage Report Generation
        run: |
          # Generate baseline
          bazel run tools:coverage_baseline -- --root_dir `pwd` > baseline_coverage.dat
          # Remove external/ sources: https://manpages.debian.org/unstable/lcov/lcov.1.en.html
          lcov --remove "$(bazel info output_path)/_coverage/_coverage_report.dat" 'external*' -o most_coverage.dat
          # Combine with baseline
          lcov -a baseline_coverage.dat -a most_coverage.dat -o coverage.dat
          # Show Table
          lcov --list coverage.dat
          # Generate HTML
          genhtml --legend --highlight --branch-coverage --output genhtml coverage.dat
      - name: Collect Stats
        id: collect_stats
        env:
          DB_PASSWORD: ${{ secrets.METRICS_DB_PASSWORD }}
        run: |
          bazel run //apps/code_metrics:main -- --pr_comment=/tmp/collect_stats_pr_diff.md --archive=/tmp/collect_stats_archive.json
      # See https://docs.github.com/en/actions/writing-workflows/choosing-what-your-workflow-does/storing-workflow-data-as-artifacts
      - name: Archive Dev Products
        uses: actions/upload-artifact@v4
        with:
          name: dev_products
          path: |
            coverage.dat
            genhtml
            /tmp/collect_stats_archive.json
      - name: Comment PR
        if: ${{ github.event_name == 'pull_request' }}
        # https://github.com/thollander/actions-comment-pull-request
        uses: thollander/actions-comment-pull-request@v3
        with:
          file-path: /tmp/collect_stats_pr_diff.md
          # Use a comment-tag to create a "sticky" comment that updates on subsequent runs
          comment-tag: automated-build-status
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Upload coverage report to Codecov
        uses: codecov/codecov-action@v4.0.1
        with:
          verbose: true
          token: ${{ secrets.CODECOV_TOKEN }}
          files: coverage.dat
      - name: Check Disk Usage
        run: |
          df -h
      - run: echo "Status is ${{ job.status }}."
